{{ partial "head.html" . }}
<div class="content">
  <h1>{{ with .Title }}{{ humanize . }}{{ else }}{{ humanize .Section }}{{ end }}</h1>
  {{ .Content }}
  <h2>Active projects</h2>
  <div>
    <ul class="posts">
      {{ range (where .Data.Pages "Params.type" "Active").GroupByDate "Jan, 2006" "desc" }}
        {{ range sort .Pages "Date" "desc" }}
          {{ partial "li.html" . }}
        {{ end }}
      {{ end }}
    </ul>
  </div>
  <h2>Archived projects</h2>
  <div>
    <ul class="posts">
      {{ range (where .Data.Pages "Params.type" "Unmaintained").GroupByDate "Jan, 2006" "desc" }}
        {{ range sort .Pages "Date" "desc" }}
          {{ partial "li.html" . }}
        {{ end }}
      {{ end }}
    </ul>
  </div>
  <h2>Contributions to other projects</h2>
  <div>
    <ul class="posts">
      {{ range (where .Data.Pages "Params.type" "Contribution").GroupByDate "Jan, 2006" "desc" }}
        {{ range sort .Pages "Date" "desc" }}
          {{ partial "contribution.html" . }}
        {{ end }}
      {{ end }}
    </ul>
  </div>
</div>
{{ partial "footer.html" . }}
