{{ partial "head.html" . }}
<h1>{{ with .Title }}{{ humanize . }}{{ else }}{{ humanize .Section }}{{ end }}</h1>
{{ .Content }}
<h2>Active projects</h2>
<div>
  <ul class="projects">
    {{ range (where .Data.Pages "Params.type" "Active").GroupByDate "Jan, 2006" "desc" }}
      {{ range sort .Pages "Date" "desc" }}
        <li>
          <time class="section-meta" datetime="{{ .Date.Format "2006" }}">
            {{ .Date.Format "2006" }}
          </time>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
      {{ end }}
    {{ end }}
  </ul>
</div>
<h2>Archived projects</h2>
<div>
  <ul class="projects">
    {{ range (where .Data.Pages "Params.type" "Unmaintained").GroupByDate "Jan, 2006" "desc" }}
      {{ range sort .Pages "Date" "desc" }}
        <li>
          <time class="section-meta" datetime="{{ .Date.Format "2006" }}">
            {{ .Date.Format "2006" }}
          </time>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
      {{ end }}
    {{ end }}
  </ul>
</div>
<h2>Contributions to other projects</h2>
<div>
  <ul class="contributions">
    {{ range (where .Data.Pages "Params.type" "Contribution").GroupByDate "Jan, 2006" "desc" }}
      {{ range sort .Pages "Date" "desc" }}
        <li>
          <time class="section-meta" datetime="{{ .Date.Format "2006" }}">
            {{ .Date.Format "2006" }}
          </time>
          <div>
            {{ if .Params.link }}
              <a href="{{ .Params.link }}">{{ .Title }}</a>
              <!-- TODO: should show a newline here -->
            {{ else }}
              {{ .Title }}
              {{ .Content }}
            {{ end }}
          </div>
        </li>
      {{ end }}
    {{ end }}
  </ul>
</div>
{{ partial "footer.html" . }}
