{{ partial "head.html" . }}
<div class="content">
  {{ .Content }}

  {{ $blogPosts := where .Data.Pages "Section" "blog" }}
  {{ $nbPosts := len $blogPosts }}
  {{ if and (isset .Site.Params "latestpostcount") (gt $nbPosts 0) }}
  <div>
    <h2>Latest posts</h2>
    <ul class="posts">
      {{ range (first .Site.Params.latestpostcount $blogPosts).GroupByDate "Jan, 2006" "desc" }}
        <li class="groupby">{{ .Key }}</li>
        {{ range sort .Pages "Date" "desc" }}
          {{ partial "li.html" . }}
        {{ end }}
      {{ end }}
    </ul>

    {{ if gt $nbPosts .Site.Params.latestpostcount }}
      <a href="/blog/" class="see-more">See more …</a>
    {{ end }}
  </div>
  {{ end }}

  {{ $bestPosts := where $blogPosts "Params.best" true }}
  {{ if gt (len $bestPosts) 0 }}
  <div class="best-posts">
    <h2>Best posts</h2>
    <ul class="posts">
      {{ range $bestPosts.GroupByDate "Jan, 2006" "desc" }}
        <li class="groupby">{{ .Key }}</li>
        {{ range sort .Pages "Date" "desc" }}
          {{ partial "li.html" . }}
        {{ end }}
      {{ end }}
    </ul>
  </div>
  {{ end }}
</div>
{{ partial "footer.html" . }}
